
.sidebar-open{
    display: block;
}
.sidebar-closed{
    display: none;
}

.active{
    background-color: #1e2530;
    display: flex;
    padding: 12px 0 12px 20px;
    text-decoration: none;
}
.inactive{
    background-color: #262f3d;
    display: flex;
    padding: 12px 0 12px 20px;
    text-decoration: none;
}